<nav class="navbar navbar-expand-lg bg-body-tertiary">
    
    <div class="container">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a class="navbar-brand" href="/products">Product</a></li>
            </ul>
            <div class="d-flex">
                <!--
                <ng-container *ngIf="user===undefined;else showLogout"> -->
                <ng-container>
                    <a class="btn btn-primary">Login</a>
                    <!-- <a [routerLink]="['/login']" class="btn btn-primary">Login</a> -->
                </ng-container>
            </div>
            <ng-template #showLogout>
                <div class="d-flex align-item-center">
                    <span>Welcome: </span>
                    <button class="btn btn-primary ms-3">Logout</button>
                    <!--
                    <span>Welcome: {{user?.email}}</span>
                    <button class="btn btn-primary ms-3" (click)="onLogout()">Logout</button> -->
                </div>
            </ng-template>
        </div>
    </div>
</nav>