<div class="container">
    <h1 class="mt-3">Brand List</h1>

    <div class="d-flex align-items-center mb-3">
        <button class="btn btn-primary me-3" (click)="showAddBrand()">Add Brand</button>

        <label for="itemsPerPage" class="me-2">Items per page:</label>
        <input id="itemsPerPage" type="number" [(ngModel)]="pageSize" class="form-control" style="width: 100px;" min="1"
            max="100" (change)="onItemsPerPageChange()" />
    </div>

    <div class="mt-3 table-container">
        <ng-container *ngIf="page$ | async as page; else loading">
            <table class="table table-bordered mt-3" [class.loading]="isLoading">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Brand Name</th>
                        <th>Image</th>
                        <th>Is Active</th>
                        <th>CreateAt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let brand of page.items; trackBy: trackByBrandId">
                        <td>B0{{ brand.brandId }}</td>
                        <td>{{ brand.name }}</td>
                        <td>
                            <img [src]="brand.imageUrl" alt="Brand Image" class="img-thumbnail"
                                style="max-width: 100px; max-height: 100px;" />
                        </td>
                        <td>
                            <span [class.text-success]="brand.isActive" [class.text-danger]="!brand.isActive">
                                {{ brand.isActive ? 'Active' : 'Inactive' }}
                            </span>
                        </td>
                        <td>{{ brand.createdAt | date:'short' }}</td>
                        <td>
                            <a (click)="updateBrand(brand.brandId)" class="link-update">Update</a>
                            <a (click)="onDeleteBrand(brand.brandId, brand.isActive)" class="link-delete">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <!-- Loading state -->
        <ng-template #loading>
            <div class="loading">Loading...</div>
        </ng-template>
    </div>

    <div class="pagination">
        <button (click)="previousPage()" [disabled]="page === 1">Trước</button>

        <span *ngIf="1 != page">{{ 1 }}</span>

        <!-- Show '...' before active page if page >= 5 -->
        <span *ngIf="page > 2">...</span>

        <!-- Active page number -->
        <span class="active">{{ page }}</span>

        <!-- Show '...' after active page if page < totalPages -->
        <span *ngIf="page + 1 < totalPages">...</span>

        <!-- Show total pages if totalPages >= 5 -->
        <span *ngIf="totalPages != page">{{ totalPages }}</span>

        <button (click)="nextPage()" [disabled]="page === totalPages">Sau</button>
    </div>

    <div *ngIf="isAddBrandVisible" class="overlay" (click)="hideAddBrand()"></div>

    <div *ngIf="isAddBrandVisible" class="modal-container">
        <app-add-or-update-brand [brandToUpdate]="brandToUpdate" (close)="hideAddBrand()" (add)="onAddBrand($event)">
        </app-add-or-update-brand>
    </div>
</div>