.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    position: relative;
}

.loading {
    text-align: center;
    font-size: 1.5rem;
    color: #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.table.loading {
    opacity: 0.5;
}