.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}
.iphone-logo img {
    width: 100%;
    /* Gấp đôi chiều rộng */
    height: 100%;
    /* Gấp đôi chiều cao */
    object-fit: contain;
    /* Đảm bảo giữ tỷ lệ */
    margin: 0 auto;
    /* Canh giữa */
}